<html>
  <head>
    <title>All Gossips</title>
  </head>

  <body>
		<% gossips.each do |gossip| %>
      <p>
        <%= gossip.author %><br/>
        <%= gossip.content %>
      </p>
 		<% end %>
 	</body>
</html>