<html>
<head>
	<title>Show me one gossip</title>
</head>
<body>
	<h1> Voici le potin N° <%= id %></h1>
	<p><%= found.content %></p>
	<p>Gossip rapporté par <%= found.author %></p>
	<p> <a href="/"></a> Retour à l'accueil</p>
</body>
</html>